{% extends "layout.html" %}
{%block css%}
<link rel="stylesheet" href="/static/login.css">{%endblock%}

{%block body%}
<div class="welcome-error">{{error}}</div>

<div class="form">
    <form action="login" method="POST">
        <h1>Login or <a href="/sign" style="text-decoration: none; color:  rgb(130, 0, 177);">Create a new account !</a></h1>
        
        <input class="form-control" type="text" name="username" placeholder="username">
        <input class="form-control" type="password" name="password" placeholder="password">
        <button style="border:  rgb(130, 0, 177); background:  rgb(130, 0, 177); margin:auto;display : block"
        class="btn btn-primary">Submit</button>
        <!-- <img style="margin-top: 50px; width: 500px;" src="/static/book.gif?123" alt=""> -->
    </form>
</div>

{%endblock%}